<div ng-include="'components/navbar/navbar.html'"></div>
<!-- TODO: Toggle two states. Set schedule or Confirm -->
<div class="col-md-12 well center" ng-if="!submitted">
  <h2>Set Schedule</h2>
  <form name="scheduleForm" ng-submit="submit(scheduleForm)">
    <div>
      <timepicker ng-model="schedule.times" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
    </div>

    <p ng-click="testSubmit()">{{schedule.testValue}}</p>
    <ul style="list-style: none;">
      <li ng-repeat="day in days">
        <input
          type="checkbox"
          name="scheduleDays[]"
          value="day.value"
          ng-checked="schedule.days.indexOf(day.value) > -1"
          ng-click="toggleDay(day)"
        ><label>{{ day.name }}</label>
      </li>
    </ul>
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp; Submit</button>
  </form>
</div>

<div class=" col-md-12" style="text-align: center;" ng-if="submitted">
  <h2>Confirmed!</h2>
  <div>
    <i class="fa fa-check-square-o" style="font-size: 10em; color: green;"></i>
  </div>
  <a href="/schedules"><button class="btn btn-primary">See Schedule</button></a>
</div>
