<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <!-- TODO: Toggle two states. Set schedule or Confirm -->
  <div class="row">
    <div class="col-md-12">
      <h2>Schedules</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Loved One</td>
            <td>Phone</td>
            <td>Days</td>
            <td>Checkin Times</td>
            <td>Contact Method</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='schedule in mySchedules'>
            <td>{{ schedule.publisherName }}</td>
            <td>{{ schedule.publisherPhone | tel }}</td>
            <td><span ng-repeat="day in schedule.days">{{ formatDay(day) }}{{ $last ? '' : ', ' }}</span></td>
            <td><span ng-repeat="time in schedule.times">{{ time }}{{ $last ? '' : ', ' }}</span></td>
            <td>{{ schedule.comm }}</td>
            <td><button class="btn btn-sm btn-default" ng-click="edit(schedule)">Edit</button></td>
            <td><button class="btn btn-sm btn-danger" ng-click="destroy(schedule)">Delete</button></td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-lg btn-primary" ui-sref="publisher-create">+ Add Schedule</button>
    </div>
  </div>
</div>
