<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12">
  <h2>Who are you scheduling?</h2>
  <form name="who" ng-submit="submit(who)">

    <div class="input-group">
      <label>Name:</label>
      <input type="text" class="form-control" required placeholder="Name" ng-model="publisher.name">
    </div>

    <!-- TODO: validate phone number -->
    <div class="input-group">
      <label>Phone:</label>
      <input type="tel" name="tel" class="form-control" ng-model="publisher.phone"
             required
             ui-mask="(999) 999-9999" placeholder="(___) ___-____"/>
    </div>

    <button type="submit" class="btn btn-primary">Next</button>
  </form>
</div>
