<div ng-include="'components/navbar/navbar.html'"></div>
<!-- TODO: Toggle two states. Set schedule or Confirm -->
<div class="col-md-12" ng-if="!submitted">
  <h2>Set Schedule</h2>
  <form name="schedule" ng-submit="submit(schedule)">
    <div>
      <timepicker ng-model="publisher.time" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
    </div>
    <ul style="list-style: none;">
      <li><input type="checkbox" ng-model="publisher.day.1"value="1"><label>&nbsp; Monday</label></li>
      <li><input type="checkbox" ng-model="publisher.day.2"value="2"><label>&nbsp; Tuesday</label></li>
      <li><input type="checkbox" ng-model="publisher.day.3"value="3"><label>&nbsp; Wednesday</label></li>
      <li><input type="checkbox" ng-model="publisher.day.4"value="4"><label>&nbsp; Thursday</label></li>
      <li><input type="checkbox" ng-model="publisher.day.5"value="5"><label>&nbsp; Friday</label></li>
      <li><input type="checkbox" ng-model="publisher.day.6"value="6"><label>&nbsp; Saturday</label></li>
      <li><input type="checkbox" ng-model="publisher.day.0"value="0"><label>&nbsp; Sunday</label></li>
    </ul>
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp; Submit</button>
  </form>
</div>

<div class=" col-md-12" style="text-align: center;" ng-if="submitted">
  <h2>Confirmed!</h2>
  <div>
    <i class="fa fa-check-square-o" style="font-size: 10em; color: green;"></i>
  </div>
  <a href="/schedules"><button class="btn btn-primary">See Schedule</button></a>
</div>
